In [1]:
#Import Dependencides

import pandas as pd

## ETL for 1st dataframe " Crimes_Stats_ON"

In [2]:
# Import Crimes Data from csv file, and store in a Dataframe

crimes_path = "Resources\Crimes_Stats_ON.csv"
crimes_Stats = pd.read_csv(crimes_path)
crimes_Stats.head()

,REF_DATE,GEO,DGUID,Violations,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2013,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,17.1.1,54320.0,NaN,NaN,NaN,0
1,2014,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,17.1.1,52608.0,NaN,NaN,NaN,0
2,2015,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,17.1.1,52333.0,NaN,NaN,NaN,0
3,2016,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,17.1.1,54779.0,NaN,NaN,NaN,0
4,2017,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,17.1.1,55977.0,NaN,NaN,NaN,0

In [3]:
# Display the dataframe info

crimes_Stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109888 entries, 0 to 109887
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   REF_DATE       109888 non-null  int64
 1   GEO            109888 non-null  object
 2   DGUID          109888 non-null  object
 3   Violations     109888 non-null  object
 4   Statistics     109888 non-null  object
 5   UOM            109888 non-null  object
 6   UOM_ID         109888 non-null  int64
 7   SCALAR_FACTOR  109888 non-null  object
 8   SCALAR_ID      109888 non-null  int64
 9   VECTOR         109888 non-null  object
 10  COORDINATE     109888 non-null  object
 11  VALUE          98697 non-null   float64
 12  STATUS         11191 non-null   object
 13  SYMBOL         0 non-null       float64
 14  TERMINATED     0 non-null       float64
 15  DECIMALS       109888 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 13.4+ MB

In [4]:
# Split the column GEO into 2 new columns Povinces and Cities
crimes_Stats[['Cities', 'Provinces']] = crimes_Stats['GEO'].str.split(',', expand=True)


# Get the Violations ID and the violations description into 2 separate columns 'Violation' and 'Violation_ID'
crimes_Stats[['Violation', 'Violation_ID']] = crimes_Stats['Violations'].str.split('[', expand=True)


# Split the column Provinces into 2 new columns'Province' and 'City_ID'
crimes_Stats[['Province', 'City_ID']] = crimes_Stats['Provinces'].str.split('[', expand=True)


crimes_Stats.head()

,REF_DATE,GEO,DGUID,Violations,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,...,STATUS,SYMBOL,TERMINATED,DECIMALS,Cities,Provinces,Violation,Violation_ID,Province,City_ID
0,2013,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,...,NaN,NaN,NaN,0,Ottawa-Gatineau,Ontario/Quebec [24505/35505],"Total, all violations",0],Ontario/Quebec,24505/35505]
1,2014,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,...,NaN,NaN,NaN,0,Ottawa-Gatineau,Ontario/Quebec [24505/35505],"Total, all violations",0],Ontario/Quebec,24505/35505]
2,2015,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,...,NaN,NaN,NaN,0,Ottawa-Gatineau,Ontario/Quebec [24505/35505],"Total, all violations",0],Ontario/Quebec,24505/35505]
3,2016,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,...,NaN,NaN,NaN,0,Ottawa-Gatineau,Ontario/Quebec [24505/35505],"Total, all violations",0],Ontario/Quebec,24505/35505]
4,2017,"Ottawa-Gatineau, Ontario/Quebec [24505/35505]",2021A0035505,"Total, all violations [0]",Actual incidents,Number,223,units,0,v52146946,...,NaN,NaN,NaN,0,Ottawa-Gatineau,Ontario/Quebec [24505/35505],"Total, all violations",0],Ontario/Quebec,24505/35505]

In [5]:
#Drop the unecessary columns

Dropped = ['DGUID', 'VECTOR', 'GEO', 'COORDINATE', 'Violations', 'Provinces', 'Violation_ID', 'Province', 'City_ID', 'STATUS','SYMBOL','TERMINATED','DECIMALS', 'SCALAR_FACTOR', 'SCALAR_ID', 'UOM', 'UOM_ID']
crimes_Stats1 = crimes_Stats.drop(columns=Dropped)

In [6]:
# Chreck the updated df
crimes_Stats1

,REF_DATE,Statistics,VALUE,Cities,Violation
0,2013,Actual incidents,54320.00,Ottawa-Gatineau,"Total, all violations"
1,2014,Actual incidents,52608.00,Ottawa-Gatineau,"Total, all violations"
2,2015,Actual incidents,52333.00,Ottawa-Gatineau,"Total, all violations"
3,2016,Actual incidents,54779.00,Ottawa-Gatineau,"Total, all violations"
4,2017,Actual incidents,55977.00,Ottawa-Gatineau,"Total, all violations"
...,...,...,...,...,...
109883,2019,"Rate, youth not charged per 100,000 population...",0.00,Thunder Bay,Total other violations
109884,2020,"Rate, youth not charged per 100,000 population...",41.36,Thunder Bay,Total other violations
109885,2021,"Rate, youth not charged per 100,000 population...",68.87,Thunder Bay,Total other violations
109886,2022,"Rate, youth not charged per 100,000 population...",54.19,Thunder Bay,Total other violations
109887,2023,"Rate, youth not charged per 100,000 population...",13.31,Thunder Bay,Total other violations

In [7]:
#Delete the 2013 entries in the df, to match the dataset in Hate Crimes csv

crimes_Stats1 = crimes_Stats1[crimes_Stats1['REF_DATE'] != 2013]

In [8]:
# Replace NaN values with a 0 

crimes_Stats1['VALUE'] = crimes_Stats1['VALUE'].fillna(0)

C:\Users\azerty\AppData\Local\Temp\ipykernel_16560\3821017726.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes_Stats1['VALUE'] = crimes_Stats1['VALUE'].fillna(0)

In [9]:
# Change the values display in VALUE column, If it's a whole number, show it without .00. Otherwise, keep the float format

def custom_format(x):
    if x == int(x):  
        return int(x)
    else:            
        return x

# Apply formatting 
crimes_Stats1['VALUE'] = crimes_Stats1['VALUE'].apply(custom_format)

C:\Users\azerty\AppData\Local\Temp\ipykernel_16560\4023527512.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes_Stats1['VALUE'] = crimes_Stats1['VALUE'].apply(custom_format)

In [10]:
# Reorder columns

crimes_Stats1 = crimes_Stats1[['REF_DATE', 'Cities', 'Statistics', 'Violation', 'VALUE']]
crimes_Stats1

,REF_DATE,Cities,Statistics,Violation,VALUE
1,2014,Ottawa-Gatineau,Actual incidents,"Total, all violations",52608.00
2,2015,Ottawa-Gatineau,Actual incidents,"Total, all violations",52333.00
3,2016,Ottawa-Gatineau,Actual incidents,"Total, all violations",54779.00
4,2017,Ottawa-Gatineau,Actual incidents,"Total, all violations",55977.00
5,2018,Ottawa-Gatineau,Actual incidents,"Total, all violations",59646.00
...,...,...,...,...,...
109883,2019,Thunder Bay,"Rate, youth not charged per 100,000 population...",Total other violations,0.00
109884,2020,Thunder Bay,"Rate, youth not charged per 100,000 population...",Total other violations,41.36
109885,2021,Thunder Bay,"Rate, youth not charged per 100,000 population...",Total other violations,68.87
109886,2022,Thunder Bay,"Rate, youth not charged per 100,000 population...",Total other violations,54.19
109887,2023,Thunder Bay,"Rate, youth not charged per 100,000 population...",Total other violations,13.31

In [11]:
crimes_Stats1['Statistics'] = crimes_Stats1['Statistics'].str.replace('Rate,', 'Rate', regex=False)
crimes_Stats1['Statistics'] = crimes_Stats1['Statistics'].str.replace('Total,', 'Total', regex=False)

In [12]:
crimes_Stats1['Statistics'] = crimes_Stats1['Statistics'].str.replace(r'\bPercentage\b', 'Percent', regex=True)

In [13]:
# Extract the first word and create a new column

crimes_Stats1['Statistics_Groups'] = crimes_Stats1['Statistics'].str.split().str[0]

# Group by the first word
groups = crimes_Stats1.groupby('Statistics_Groups')

In [14]:
crimes_Stats1

,REF_DATE,Cities,Statistics,Violation,VALUE,Statistics_Groups
1,2014,Ottawa-Gatineau,Actual incidents,"Total, all violations",52608.00,Actual
2,2015,Ottawa-Gatineau,Actual incidents,"Total, all violations",52333.00,Actual
3,2016,Ottawa-Gatineau,Actual incidents,"Total, all violations",54779.00,Actual
4,2017,Ottawa-Gatineau,Actual incidents,"Total, all violations",55977.00,Actual
5,2018,Ottawa-Gatineau,Actual incidents,"Total, all violations",59646.00,Actual
...,...,...,...,...,...,...
109883,2019,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,0.00,Rate
109884,2020,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,41.36,Rate
109885,2021,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,68.87,Rate
109886,2022,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,54.19,Rate
109887,2023,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,13.31,Rate

In [15]:
statistics_df = crimes_Stats1.copy()

statistics_df = statistics_df.rename(columns={ 
    'Cities': 'City', 
    'REF_DATE': 'Year', 
    'Statistics': 'Statistics_detail', 
    'Violation': 'Violation', 
    'VALUE': 'Value', 
    'Statistics_Groups': 'Statistic_Type' 
})

statistics_df

,Year,City,Statistics_detail,Violation,Value,Statistic_Type
1,2014,Ottawa-Gatineau,Actual incidents,"Total, all violations",52608.00,Actual
2,2015,Ottawa-Gatineau,Actual incidents,"Total, all violations",52333.00,Actual
3,2016,Ottawa-Gatineau,Actual incidents,"Total, all violations",54779.00,Actual
4,2017,Ottawa-Gatineau,Actual incidents,"Total, all violations",55977.00,Actual
5,2018,Ottawa-Gatineau,Actual incidents,"Total, all violations",59646.00,Actual
...,...,...,...,...,...,...
109883,2019,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,0.00,Rate
109884,2020,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,41.36,Rate
109885,2021,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,68.87,Rate
109886,2022,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,54.19,Rate
109887,2023,Thunder Bay,"Rate youth not charged per 100,000 population ...",Total other violations,13.31,Rate

In [44]:
Statistics = "Statistics.csv"
statistics_df.to_csv(Statistics, index=True, index_label='Statistic_ID')

In [41]:
statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100096 entries, 1 to 109887
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               100096 non-null  int64
 1   City               100096 non-null  object
 2   Statistics_detail  100096 non-null  object
 3   Violation          100096 non-null  object
 4   Value              100096 non-null  float64
 5   Statistic_Type     100096 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.3+ MB

In [17]:
metropolitan_cities_df = crimes_Stats1.groupby("Cities").first().reset_index()
metropolitan_cities_df = metropolitan_cities_df[['Cities']].rename(columns={'Cities': 'City'})

metropolitan_cities_df

                            City
0                         Barrie
1         Belleville-Quinte West
2                      Brantford
3                Greater Sudbury
4                         Guelph
5                       Hamilton
6                       Kingston
7   Kitchener-Cambridge-Waterloo
8                         London
9                Ottawa-Gatineau
10                  Peterborough
11        St. Catharines-Niagara
12                   Thunder Bay
13                       Toronto
14                       Windsor

In [43]:
Cities = "Cities.csv"
metropolitan_cities_df.to_csv(Cities, index=True, index_label='City_ID')

In [39]:
metropolitan_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    15 non-null     object
dtypes: object(1)
memory usage: 248.0+ bytes

In [19]:
Years_df = crimes_Stats1.groupby("REF_DATE").first().reset_index()
Years_df = Years_df[['REF_DATE']].rename(columns={'REF_DATE': 'Year'})

Years_df

   Year
0  2014
1  2015
2  2016
3  2017
4  2018
5  2019
6  2020
7  2021
8  2022
9  2023

In [49]:
Years = "Years.csv"
Years_df.to_csv(Years, index=True, index_label='Year_ID')

In [38]:
Years_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

In [21]:
statistic_types_df = crimes_Stats1.groupby("Statistics_Groups").first().reset_index()
statistic_types_df = statistic_types_df[['Statistics_Groups']].rename(columns={'Statistics_Groups': 'Statistic_Type'})
statistic_types_df

  Statistic_Type
0         Actual
1        Cleared
2        Percent
3           Rate
4          Total
5      Unfounded

In [46]:
Statistic_Types = "Statistic_Types.csv"
statistic_types_df.to_csv(Statistic_Types, index=True, index_label='Stat_Type_ID')

In [37]:
statistic_types_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Statistic_Type  6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [23]:
Violations_df = crimes_Stats1.groupby("Violation").first().reset_index()
Violations_df = Violations_df[['Violation']]
Violations_df

                                            Violation
0                                   Assault, level 1
1            Assault, level 2, weapon or bodily harm
2                       Assault, level 3, aggravated
3                                   Attempted murder
4                                     Counterfeiting
5                                Criminal harassment
6                                  Disturb the peace
7                                          Extortion
8                                           Homicide
9                  Indecent/Harassing communications
10      Making, or distribution of child pornography
11     Possession of, or accessing child pornography
12                           Sexual assault, level 1
13    Sexual assault, level 2, weapon or bodily harm
14               Sexual assault, level 3, aggravated
15  Sexual offence which occurred prior to January...
16                                   Total abduction
17        Total administration of justice violations
18            Total assaults against a peace officer
19       Total firearms, use of, discharge, pointing
20          Total forcible confinement or kidnapping
21     Total offences in relation to sexual services
22              Total other Criminal Code violations
23                              Total other assaults
24                            Total other violations
25              Total other violations causing death
26                    Total other violent violations
27                   Total property crime violations
28                                Total prostitution
29                                     Total robbery
30          Total sexual violations against children
31        Total violations related to animal cruelty
32            Total violent Criminal Code violations
33                          Total weapons violations
34  Total, all Criminal Code violations (excluding...
35                             Total, all violations
36                                  Uttering threats

In [47]:
Violations = "Violations.csv"
Violations_df.to_csv(Violations, index=True, index_label='Violation_ID')

In [36]:
Violations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Violation  37 non-null     object
dtypes: object(1)
memory usage: 424.0+ bytes

## ETL for 2nd dataframe " Hate_Crimes_Stats_ON"

In [54]:
motivations_path = "Resources\Hate_Crimes_Stats_ON.csv"  
motivations_df = pd.read_csv(motivations_path)
motivations_df

,REF_DATE,GEO,DGUID,Type of motivation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2013,"Canada, selected police services",2021A000011124,Race or ethnicity,Number,223,units,0,v91706829,1.20,NaN,..,NaN,NaN,0
1,2014,"Canada, selected police services",2021A000011124,Race or ethnicity,Number,223,units,0,v91706829,1.20,611.0,NaN,NaN,NaN,0
2,2015,"Canada, selected police services",2021A000011124,Race or ethnicity,Number,223,units,0,v91706829,1.20,641.0,NaN,NaN,NaN,0
3,2016,"Canada, selected police services",2021A000011124,Race or ethnicity,Number,223,units,0,v91706829,1.20,666.0,NaN,NaN,NaN,0
4,2017,"Canada, selected police services",2021A000011124,Race or ethnicity,Number,223,units,0,v91706829,1.20,878.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,2019,Ontario [35],2021A000235,Unknown motivation,Number,223,units,0,v1579318703,4.46,NaN,x,NaN,NaN,0
197,2020,Ontario [35],2021A000235,Unknown motivation,Number,223,units,0,v1579318703,4.46,NaN,x,NaN,NaN,0
198,2021,Ontario [35],2021A000235,Unknown motivation,Number,223,units,0,v1579318703,4.46,NaN,x,NaN,NaN,0
199,2022,Ontario [35],2021A000235,Unknown motivation,Number,223,units,0,v1579318703,4.46,NaN,x,NaN,NaN,0
200,2023,Ontario [35],2021A000235,Unknown motivation,Number,223,units,0,v1579318703,4.46,NaN,x,NaN,NaN,0

In [56]:
motivations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_DATE            201 non-null    int64
 1   GEO                 201 non-null    object
 2   DGUID               201 non-null    object
 3   Type of motivation  201 non-null    object
 4   UOM                 201 non-null    object
 5   UOM_ID              201 non-null    int64
 6   SCALAR_FACTOR       201 non-null    object
 7   SCALAR_ID           201 non-null    int64
 8   VECTOR              201 non-null    object
 9   COORDINATE          201 non-null    float64
 10  VALUE               122 non-null    float64
 11  STATUS              79 non-null     object
 12  SYMBOL              0 non-null      float64
 13  TERMINATED          0 non-null      float64
 14  DECIMALS            201 non-null    int64
dtypes: float64(4), int64(4), object(7)
memory usage: 23.7+ KB

In [57]:
#Drop the unecessary columns

Dropped2 = ['GEO', 'DGUID', 'UOM' , 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',  'COORDINATE', 'STATUS', 'SYMBOL','TERMINATED','DECIMALS']
motivations_df = motivations_df.drop(columns=Dropped2)

In [59]:
motivations_df = motivations_df[motivations_df['REF_DATE'] != 2013]

In [60]:
# Replace NaN values with a 0 

motivations_df['VALUE'] = motivations_df['VALUE'].fillna(0)

In [61]:
motivations_df.head(20)

    REF_DATE Type of motivation   VALUE
1       2014  Race or ethnicity   611.0
2       2015  Race or ethnicity   641.0
3       2016  Race or ethnicity   666.0
4       2017  Race or ethnicity   878.0
5       2018  Race or ethnicity   793.0
6       2019  Race or ethnicity   884.0
7       2020  Race or ethnicity  1619.0
8       2021  Race or ethnicity  1745.0
9       2022  Race or ethnicity  2002.0
10      2023  Race or ethnicity  2128.0
12      2014           Religion   429.0
13      2015           Religion   469.0
14      2016           Religion   460.0
15      2017           Religion   842.0
16      2018           Religion   657.0
17      2019           Religion   613.0
18      2020           Religion   530.0
19      2021           Religion   886.0
20      2022           Religion   768.0
21      2023           Religion  1284.0

In [62]:
motivations_df

     REF_DATE  Type of motivation  VALUE
1        2014   Race or ethnicity  611.0
2        2015   Race or ethnicity  641.0
3        2016   Race or ethnicity  666.0
4        2017   Race or ethnicity  878.0
5        2018   Race or ethnicity  793.0
..        ...                 ...    ...
196      2019  Unknown motivation    0.0
197      2020  Unknown motivation    0.0
198      2021  Unknown motivation    0.0
199      2022  Unknown motivation    0.0
200      2023  Unknown motivation    0.0

[192 rows x 3 columns]

In [63]:
Motivations  = "Motivations.csv"
motivations_df.to_csv(Motivations , index=True, index_label='Motivation_ID')

In [64]:
motivations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 192 entries, 1 to 200
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_DATE            192 non-null    int64
 1   Type of motivation  192 non-null    object
 2   VALUE               192 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB